@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
    @include reset;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $text-color;
}

h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}